
<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li class="active">
              <a href="#/odl">
                  <i class="icon-chevron-right"></i>
                   Online Distance Learning
              </a>
          </li>
          <li>
              <a href="#/about_us">
                  <i class="icon-chevron-right"></i>
                   About us
              </a>
          </li>
          <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation">

            <h1>Online Distance Learning</h1>
			</br>
            <h4 style="font-weight: 100;line-height: 25px;">
                <p>
                    Through Online Distance Learning,
                    we offer a wide range of cutting-edge courses and highly flexible study options to provide you with the skills to further enhance your career prospects and demonstrate real expertise in your chosen field.
                        Whether you are considering undergraduate study, wish to confirm your credentials through postgraduate taught courses or research opportunities,
                    or would like to demonstrate your ongoing professional competence through Continuous Professional Development, our <a href="#/about/topic">Online Distance Learning</a>a courses are designed to help you every step of the way
                </p>
            </h4>



        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>