
<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li>
              <a href="#/odl">
                  <i class="icon-chevron-right"></i>
                   Online Distance Learning
              </a>
          </li>
          <li class="active">
              <a href="#/about_us">
                  <i class="icon-chevron-right"></i>
                   ABOUT US
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation">

            <h1>ABOUT US</h1>
			</br>
            <h4 style="font-weight: 100;line-height: 25px;">
                <p>
                    To Know us follow below link
                    <br />
                    <a target="_blank" href = "http://www.staffs.ac.uk/academic_depts/fces/greengroup/index.jsp">http://www.staffs.ac.uk/academic_depts/fces/greengroup/index.jsp</a><b/>
                    <br />

                </p>
            </h4>



        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>