<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li class="active">
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li>
              <a href="#/odl">
                  <i class="icon-chevron-right"></i>
                   Online Distance Learning
              </a>
          </li>
          <li>
              <a href="#/about">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span5">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation">

            <h1>Courses</h1>
			</br>
            <h4 style="font-weight: 100;line-height: 25px;">
                1.
                <a href="#/courses/wind-energy">
                    WIND ENERGY SYSTEMS
                </a>
            </h4>
            <hr />
            <h4 style="font-weight: 100;line-height: 25px;">
                2.
                <a href="">
                    SOLAR GENERATION
                </a>
            </h4>
            <hr />
            <h4 style="font-weight: 100;line-height: 25px;">
                3.
                <a href="">
                    TIDAL ENERGY
                </a>
            </h4>
            <hr />
            <h4 style="font-weight: 100;line-height: 25px;">
                4.
                <a href="">
                    BIOMASS ENERGY
                </a>
            </h4>
            <hr />


        </section>


      </div>
    </div>
</div>