<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px 0px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>
<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li>
              <a href="#/odl">
                  <i class="icon-chevron-right"></i>
                   Online Distance Learning
              </a>
          </li>
          <li>
              <a href="#/about">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
          <li class="active">
              <a href="#/courses/wind-energy/tutorials/create-chapter">
                  <i class="icon-chevron-right"></i>
                  Create Chapter
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation" style="min-height:350px;">

            <h1>Create Chapter Here</h1>
			</br>
            <label>Enter chapter name</label>
            <input type="text" placeholder="enter chapter name" ng-model="chapter_name" required="required">
            <br />
            <label>
                Select PDF
            </label>
            <div class="fileUpload btn btn-default" style="width:25%;">
                <span>Browse File</span>
                <input type="file" file="file"  required class="upload" />
            </div>
            <br />
            <button class="btn btn-sm btn-primary" ng-click="uploadFile()">
                <strong>
                    Upload me
                </strong>
            </button>

            <hr />
            [[ error ]]

        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>