
<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="active">
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li>
              <a href="#/odl">
                  <i class="icon-chevron-right"></i>
                  Online Distance Learning
              </a>
          </li>
          <li>
              <a href="#/about_us">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation">

            <h1>Wind Energy</h1>
			</br>
            <h4 style="font-weight: 100;line-height: 25px;">
                Throughout history, communities have harnessed the power of the
                wind. Now, driven by the need to reduce greenhouse gas emissions
                and secure home-grown energy supplies, wind energy is the world's
                fastest growing renewable energy type.
            </h4>

            <h4 style="font-weight: 100;line-height: 25px;">
                Wind energy already makes a significant contribution to the UK,
                with an output of 15.5TWh in 2011 — equivalent to the annual
                electricity demand of 4.7 million homes.
            </h4>
            <h4 style="font-weight: 100;line-height: 25px;">
                - Source from: http://www.renewableuk.com
            </h4>


        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>