
<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li>
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li class="active">
              <a href="#/odl">
                  <i class="icon-chevron-right"></i>
                   Online Distance Learning
              </a>
          </li>
          <li>
              <a href="#/about_us">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation">

            <h1>Online Distance Learning</h1>
			</br>
            <h4 style="font-weight: 100;line-height: 25px;">
                <p>
                    Online Distance Learning is exactly as its name suggests: studying for a degree or Masters award without actually being on site at your chosen university.
                    Instead of attending lectures, you study online, attend ‘virtual’ tutorials and submit your assignments over the Internet. You can be in the same country as the university, or overseas. It doesn’t matter.
                    Online Distance Learning gives you the opportunity to study through a university that you would not be able to attend because of your location, or to fit study around work or other commitments.
                    Choosing Online Distance Learning with Staffordshire University means completing your degree, Masters award or Continuous Professional Development through an organisation with an outstanding reputation for excellence in the UK and internationally.
                    Providing you have use of a computer with Internet access, you can study from home, your workplace, or almost anywhere you choose
                </p>
            </h4>



        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>

