<div ng-include src="'static/app/views/navbar.html'"></div>
<div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li>
              <a href="#/">
                  <i class="icon-chevron-right"></i>
                  Home
              </a>
          </li>
          <li class="active">
              <a href="#/courses">
                  <i class="icon-chevron-right"></i>
                  Courses
              </a>
          </li>
          <li>
              <a href="#/about">
                  <i class="icon-chevron-right"></i>
                  About us
              </a>
          </li>
            <li>
              <a href="#/feedback">
                  <i class="icon-chevron-right"></i>
                  Feedback
              </a>
          </li>
          <li>
              <a href="#/contact">
                  <i class="icon-chevron-right"></i>
                  Contact
              </a>
          </li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation" style="min-height:350px;">

            <h1>Wind Energy Systems</h1>
			</br>
            <h4 style="font-weight: 100;line-height: 25px;">
                <i class="fa fa-arrow-circle-right"></i>&nbsp;
                <a href="#/courses/wind-energy/tutorials">
                    TUTORIALS
                </a>
            </h4>
            <hr /><h4 style="font-weight: 100;line-height: 25px;">
                <i class="fa fa-arrow-circle-right"></i>&nbsp;
                <a href="#/courses/wind-energy/assessments">
                    ASSESSMENTS
                </a>
            </h4>
            <hr />


        </section>


        <hr class="bs-docs-separator">


      </div>
    </div>
</div>